<template name="submissionReview">
<div class="container">
{{#with application}}
  <div class="section">
    <div class="card">
      <div class="card-content">

        <h2>{{_ "application.folio.label"}} {{formatWithZeros folio}}</h2>

        <h2>{{_ "application.personalData"}}</h2>

        <ul>
          <li><strong>{{_ "application.name.label"}}:</strong><p>{{name}}</p></li>
          {{#if pseudonym}}
          <li><strong>{{_ "application.pseudonym.label"}}:</strong><p>{{pseudonym}}</p></li>
          {{/if}}
          {{#unless isCommittee}}
          <li><strong>{{_ "user-email"}}:</strong><p>{{applicantEmail}}</p></li>
          <li><strong>{{_ "application.birthday.label"}}:</strong><p>{{birthday}}</p></li>
          <li><strong>{{_ "application.birthplace.label"}}:</strong><p>{{birthplace}}</p></li>
          <li><strong>{{_ "application.nationality.label"}}:</strong><p>{{nationality}}</p></li>
          <li><strong>{{_ "application.cv.label"}}:</strong><p>{{formatWithLinebreak cv}}</p></li>
          <li><strong>{{_ "application.identificationDocument.label"}}:</strong><p><img src="{{identificationDocument}}"></p></li>
          {{/unless}}
        </ul>

        {{#unless isCommittee}}
        <h3>{{_ "application.address"}}</h3>

        <ul>
          <li><strong>{{_ "application.streetAndNumber.label"}}:</strong><p>{{streetAndNumber}}</p></li>
          <li><strong>{{_ "application.neighborhood.label"}}:</strong><p>{{neighborhood}}</p></li>
          <li><strong>{{_ "application.municipality.label"}}:</strong><p>{{municipality}}</p></li>
          <li><strong>{{_ "application.state.label"}}:</strong><p>{{state}}</p></li>
          <li><strong>{{_ "application.zip.label"}}:</strong><p>{{zip}}</p></li>
          <li><strong>{{_ "application.telephone.label"}}:</strong><p>{{telephone}}</p></li>
          {{#if cellphone}}
          <li><strong>{{_ "application.cellphone.label"}}:</strong><p>{{cellphone}}</p></li>
          {{/if}}
          {{#if otherPhone}}
          <li><strong>{{_ "application.otherPhone.label"}}:</strong><p>{{otherPhone}}</p></li>
          {{/if}}
        </ul>
        {{/unless}}

        <h2>{{_ "application.project"}}</h2>
        <ul>
          <li><strong>{{_ "application.projectTitle.label"}}:</strong><p>{{projectTitle}}</p></li>
          <li><strong>{{_ "application.projectDate.label"}}:</strong><p>{{projectDate}}</p></li>
          <li><strong>{{_ "application.projectType.label"}}:</strong><p>{{projectType}}</p></li>
          <li><strong>{{_ "application.projectDescription.label"}}:</strong><p>{{formatWithLinebreak projectDescription}}</p></li>
          <li><strong>{{_ "application.projectRequirements.label"}}:</strong><p>{{formatWithLinebreak projectRequirements}}</p></li>
          {{#if projectComments}}
          <li><strong>{{_ "application.projectComments.label"}}:</strong><p>{{formatWithLinebreak projectComments}}</p></li>
          {{/if}}
          <li><strong>{{_ "application.projectLayout.label"}}:</strong><p><img src="{{projectLayout}}"></p></li>
        </ul>

        <h2>{{_ "application.works.label"}}</h2>
        {{#each works}}
        <ul>
          {{#if title}}
          <li><strong>{{_ "application.works.$.title.label"}}:</strong><p>{{title}}</p></li>
          {{/if}}
          <li><strong>{{_ "application.works.$.date.label"}}:</strong><p>{{date}}</p></li>
          {{#if place}}
          <li><strong>{{_ "application.works.$.place.label"}}:</strong><p>{{place}}</p></li>
          {{/if}}
          <li><strong>{{_ "application.works.$.width.label"}}:</strong><p>{{width}}</p></li>
          <li><strong>{{_ "application.works.$.height.label"}}:</strong><p>{{height}}</p></li>
          {{#if depth}}
          <li><strong>{{_ "application.works.$.depth.label"}}:</strong><p>{{depth}}</p></li>
          {{/if}}
          <li><strong>{{_ "application.works.$.medium.label"}}:</strong><p>{{medium}}</p></li>
          <li><strong>{{_ "application.works.$.image.label"}}:</strong><p><img src="{{image}}"></p></li>
          {{#if video}}
          <li><strong>{{_ "application.works.$.video.label"}}:</strong><p><a href="{{video}}">{{video}}</a></p></li>
          {{/if}}
        </ul>
        {{/each}}

      </div>
    </div>
  </div>
{{/with}}

{{#if applicationIs 'submitted' application}}
  <div class="section">
    <div class="card">
      <div class="card-content">
        <h2>{{_ "application.ratings"}}</h2>
        {{#if isAdmin}}
        <div class="section">
          <span class="card-title grey-text">{{_ "application.averageRating"}}</span>
          {{#if application.rating}}
          <h4>{{application.rating}}</h4>
          <span class="card-title grey-text">{{_ "application.committeeRatings"}}</span>
            <table class="striped">
              <tbody>
            {{#each committee}}
              <tr>
                <td>{{ username }}</td>
                <td>
              {{#if ratingByUser _id }}
                {{ ratingByUser _id }}
              {{else}}
                {{_ "application.notRated"}}
              {{/if}}
                </td>
              </tr>
            {{/each}}
              </tbody>
            </table>
          {{else}}
          <h4>{{_ "application.notRated"}}</h4>
          {{/if}}
        </div>
        {{/if}}
        {{#if isCommittee}}
          {{#with application}}
        <div class="section">
          <span class="card-title grey-text">{{_ "application.yourRating"}}</span>

          <ul class="u-inline-list">
            <li class="js-set-rating btn-floating u-align-center grey" data-value="1">1</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="2">2</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="3">3</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="4">4</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="5">5</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="6">6</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="7">7</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="8">8</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="9">9</li>
            <li class="js-set-rating btn-floating u-align-center grey" data-value="10">10</li>
          </ul>
        </div>
          {{/with}}
        {{/if}}
      </div>
    </div>
  </div><div class="section">
    <div class="card">
      <div class="card-content">
        <h2>{{_ "application.notes"}}</h2>
        {{#if isAdmin}}
        <div class="section">
          <table class="striped">
            <tbody>
              {{#each committee}}
              <tr>
                <td>{{ username }}</td>
                <td>
                  {{#if noteByUser _id }}
                    {{ noteByUser _id }}
                  {{else}}
                    {{_ "application.notAnnotated"}}
                  {{/if}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        {{/if}}
        {{#if isCommittee}}
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="note-textarea" class="materialize-textarea">{{note}}</textarea>
                </div>
              </div>
              <a id="save-note" class="waves-effect waves-light btn">{{_ "application.save"}}</a>
            </form>

          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}

</div>
</template>
