<template name="submissions">
  <div class="container">
    <table class="striped js-sortable" data-sortlist="[[2,1]]">
      <thead>
        <tr>
            <th data-field="name">{{_ "submissions-name"}}</th>
            <th data-field="project">{{_ "submissions-projectTitle"}}</th>
            <th data-field="status">{{_ "submissions-status"}}</th>
        </tr>
      </thead>

      <tbody>
        {{#each applications}}
        <tr>
          <td><a href="/solicitudes/{{userId}}">{{name}}</a></td>
          <td>{{projectTitle}}</td>
          <td>{{status}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
