<template name="header">
  <header id="header" class="container">
    <div class="row">
      <div class="col m6 s12">
        <img id="logo" src="/images/logo-XVIIBF.png" />
      </div>
      <div class="col m6 s12">
        <ul id="nav" class="navy text-white">
          <li><a href="{{pathFor 'homepage'}}"><span class="genericon genericon-home"></span></a></li>
          <li><a href="http://centrodelaimagen.conaculta.gob.mx/convocatorias/2016/bienaldefotografia.html" target="_blank">Convocatoria</a></li>
          {{#if isLoggedIn}}
            {{#if isAdmin}}
              <li><a href="{{pathFor 'admin'}}">Admin</a></li>
            {{/if}}
            {{#if isCommitteeOrAdmin}}
              <li><a href="{{pathFor 'submissions'}}">Solicitudes</a></li>
            {{/if}}
            <li><a href="/" class="log-out">Salir</a></li>
          {{else}}
            <li><a href="{{pathFor 'signup'}}">Registrarse</a></li>
            <li><a href="{{pathFor 'login'}}">Ingresar</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </header>
</template>
