<template name="application">
    <div class="container">
    {{#autoForm schema="ApplicationSchema" collection="Applications" doc=this id="insertApplicationForm" type="update" buttonContent="Review" }}
    <div class="section">
      <div class="card">
        <div class="card-content">
          <h4>Datos Personales</h4>
          {{> afQuickField name='name'}}
          {{> afQuickField name='pseudonym'}}
          {{> afQuickField name='nationality'}}
          {{> afQuickField name='age'}}
          <h5>Dirección</h5>
          {{> afQuickField name='streetAndNumber'}}
          {{> afQuickField name='neighborhood'}}
          {{> afQuickField name='municipality'}}
          {{> afQuickField name='state'}}
          {{> afQuickField name='zip'}}
          {{> afQuickField name='telephone'}}
          {{> afQuickField name='cellphone'}}
          {{> afQuickField name='otherPhone'}}
          {{> afQuickField name='identificationDocument'}}

          {{> afQuickField name='cv'}}
          <blockquote>
            <p>Párrafo de máximo 1,500 caracteres contando espacios y con la siguiente estructura:</p>
            <ol>
              <li>Nombre artístico.</li>
              <li>Origen (país, estado y fecha de nacimiento).</li>
              <li>Estudios.</li>
              <li>Principales exposiciones (individuales y colectivas).</li>
              <li>Principales residencias.</li>
              <li>Principales colecciones con su obra.</li>
              <li>Principales premios.</li>
              <li>Publicaciones más recientes.</li>
              <li>Cualquier información extra no prevista en los puntos anteriores.</li>
              <li>Página web.</li>
            </ol>
          </blockquote>

        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default saveApplication">Guardar</button>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <h4>Proyecto</h4>
          {{> afQuickField name='projectTitle'}}
          {{> afQuickField name='projectDate'}}
          {{> afQuickField name='projectType'}}
          {{> afQuickField name='projectDescription'}}
          <blockquote>
            <p>Texto de máximo 1,500 caracteres, contando espacios. Deberá incluir:</p>
            <ol>
              <li><em>Statement</em> (explicación conceptual y técnica del proyecto)</li>
              <li>Problemas o retos que implicó su realización</li>
              <li>Motivos (¿Por qué considera relevante su realización?)</li>
              <li>Referencias (históricas, visuales, filosóficas, artísticas, cotidianas, entre otras)</li>
            </ol>
          </blockquote>
          {{> afQuickField name='projectRequirements'}}
          {{> afQuickField name='projectComments'}}
          {{> afQuickField name='projectLayout'}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default saveApplication">Guardar</button>

    <div class="section">
      {{> afArrayField name='works'}}
    </div>

    <div class="section">
      <div class="progress">
        <div class="indeterminate" style="width: 70%"></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      {{> afQuickField name='acceptTerms'}}
      <button id="submitApplication" type="submit" class="btn indigo darken-4 btn-primary">{{_ "application-review"}}</button>
    </div>

    {{/autoForm}}
  </div>
</template>
