<template name="application">
    <div class="container">
      {{{ _"application-text" }}}
    {{#autoForm schema="ApplicationSchema" collection="Applications" doc=this id="insertApplicationForm" type="update" buttonContent="Review" }}
    <div class="section">
      <div class="card">
        <div class="card-content">
          <h2>Datos Personales</h2>
          {{> afQuickField name='name'}}
          {{> afQuickField name='pseudonym'}}
          {{> afQuickField name='birthday'}}
          {{> afQuickField name='birthplace'}}
          {{> afQuickField name='nationality'}}
          <h3>Dirección</h3>
          {{> afQuickField name='streetAndNumber'}}
          {{> afQuickField name='neighborhood'}}
          {{> afQuickField name='municipality'}}
          {{> afQuickField name='state'}}
          {{> afQuickField name='zip'}}
          {{> afQuickField name='telephone'}}
          {{> afQuickField name='cellphone'}}
          {{> afQuickField name='otherPhone'}}
          {{> afQuickField name='identificationDocument'}}

          {{> afQuickField name='cv'}}
          <blockquote>
            <p>Párrafo de máximo 1,500 caracteres contando espacios y con la siguiente estructura:</p>
            <ol>
              <li>Nombre artístico.</li>
              <li>Origen (población, estado o equivalente, país, y fecha de nacimiento).</li>
              <li>Estudios.</li>
              <li>Principales exposiciones (individuales y colectivas).</li>
              <li>Principales residencias.</li>
              <li>Principales colecciones con su obra.</li>
              <li>Principales premios.</li>
              <li>Publicaciones más recientes.</li>
              <li>Cualquier información extra no prevista en los puntos anteriores.</li>
              <li>Página web.</li>
            </ol>
          </blockquote>

        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default saveApplication">Guardar</button>

    <div class="section">
      <div class="card">
        <div class="card-content">
          <h2>Proyecto</h2>
          {{> afQuickField name='projectTitle'}}
          {{> afQuickField name='projectDate'}}
          {{> afQuickField name='projectType'}}
          {{> afQuickField name='projectDescription'}}
          <blockquote>
            <p>Texto de máximo 2,000 caracteres, contando espacios. Deberá incluir:</p>
            <ol>
              <li><em>Statement</em> (explicación conceptual y técnica del proyecto)</li>
              <li>Problemas o retos que implicó su realización</li>
              <li>Motivos (¿Por qué considera relevante su realización?)</li>
              <li>De ser necesario, referencias (históricas, visuales, filosóficas, artísticas, cotidianas, entre otras)</li>
            </ol>
          </blockquote>
          {{> afQuickField name='projectRequirements'}}
          {{> afQuickField name='projectComments'}}
          {{> afQuickField name='projectLayout'}}
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default saveApplication">Guardar</button>

    <div class="section">
      {{> afArrayField name='works'}}
    </div>
    <button type="submit" class="btn btn-default saveApplication">Guardar</button>

    <div class="section">
      <div class="progress">
        <div class="indeterminate" style="width: 70%"></div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="section" id="terms-field">
      {{> afQuickField name='acceptTerms'}}
      <button id="submitApplication" type="submit" class="btn btn-primary">{{_ "application-review"}}</button>
    </div>

    {{/autoForm}}

    <div id="terms-modal" class="modal">
      <div class="modal-content">
        <h2>{{_ "application-terms"}}</h2>
        {{{_ "application-terms-text"}}} 
      </div>
      <div class="modal-footer">
        <a href="#!" id="agree-btn" class="modal-action modal-close waves-effect waves-green btn-flat">Acepto</a>
        <a href="#!" id="disagree-btn" class="modal-action modal-close waves-effect waves-green btn-flat">No acepto</a>
      </div>
    </div>
  </div>
</template>
