/*

	DIN

*/
@font-face {
  font-family: 'DIN-Bold';
  src: url('/fonts/DINNextRoundedLTPro-Bold.eot');
  src: local('☺'), url('/fonts/DINNextRoundedLTPro-Bold.woff') format('woff'), url('/fonts/DINNextRoundedLTPro-Bold.ttf') format('truetype'), url('/fonts/DINNextRoundedLTPro-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Medium';
  src: url('/fonts/DINNextRoundedLTPro-Medium.eot');
  src: local('☺'), url('/fonts/DINNextRoundedLTPro-Medium.woff') format('woff'), url('/fonts/DINNextRoundedLTPro-Medium.ttf') format('truetype'), url('/fonts/DINNextRoundedLTPro-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Regular';
  src: url('/fonts/DINNextRoundedLTPro-Regular.eot');
  src: local('☺'), url('/fonts/DINNextRoundedLTPro-Regular.woff') format('woff'), url('/fonts/DINNextRoundedLTPro-Regular.ttf') format('truetype'), url('/fonts/DINNextRoundedLTPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN-Light';
  src: url('/fonts/DINNextRoundedLTPro-Light.eot');
  src: local('☺'), url('/fonts/DINNextRoundedLTPro-Light.woff') format('woff'), url('/fonts/DINNextRoundedLTPro-Light.ttf') format('truetype'), url('/fonts/DINNextRoundedLTPro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

