// STRUCUTRE

$gutter = 16px
$margin-tiny = ($gutter/2)
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)


// COLORS

$color-black-soft = rgb(35,31,32)
$color-white-soft = rgb(253,253,253)
$color-blue = rgb(0,27,167)
$color-blue-light = rgb(54,80,191)

html
  background-color: $color-white-soft
  color: $color-black-soft


// TYPOGRAPHY

$font-size-basic = 19px
$font-size-mobile = 16px

$font-leading-basic = 1.4em
$font-leading-btn = 2.2em

$font-size-h1 = $font-size-basic * 2.105263158
$font-size-h2 = $font-size-basic * 1.578947368
$font-size-h3 = $font-size-basic * 1.263157895

$font-size-h1-mobile = $font-size-mobile * 2.105263158
$font-size-h2-mobile = $font-size-mobile * 1.578947368
$font-size-h3-mobile = $font-size-mobile * 1.263157895

html
  font-family: 'DIN', Arial, 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 300
  font-size: $font-size-basic
  line-height: $font-leading-basic


// HEADINGS

h1
  font-weight: 600
  font-size: $font-size-h1

h2
  font-weight: 500
  font-size: $font-size-h2

h3
  font-weight: 500
  font-size: $font-size-h3

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic


// LINKS

a,a:active,a:visited
  text-decoration: none
  transition:opacity .2s
  &:hover
    opacity:.5

// Header

#logo
  margin-top: $margin-small
  width: 60%

#nav
  background-color: $color-blue
  color: $color-white-soft
  box-sizing: border-box
  padding: $margin-small

#header
  a,a:active,a:visited
    color: $color-white-soft

#footer
  margin-top: $margin-basic
  padding: $margin-tiny $margin-small

  a,a:active,a:visited
    color: $color-blue


// Application

#insertApplicationForm .progress
  opacity: 0


// Form
.btn, .btn-default
  line-height: $font-leading-btn
  background-color: $color-blue
  &:hover
    background-color: $color-blue-light


// Array field
.array-section
  .btn-floating
    text-align: center


// Image Upload
.upload-form
  margin: $margin-basic 0 $margin-small

.image-upload-thumbnail
  max-height: 120px
  width: auto
  display: block
  margin-bottom: $margin-tiny

.preloader-wrapper.active
  margin: 0 $margin-basic


@media all and (max-width: 600px)

  html
    font-size: $font-size-mobile

  h1
    font-size: $font-size-h1-mobile

  h2
    font-size: $font-size-h2-mobile

  h3
    font-size: $font-size-h3-mobile

  $gutter = 10px
  $margin-tiny = ($gutter/2)
  $margin-small = ($gutter)
  $margin-basic = ($gutter*2)
  $margin-large = ($gutter*5)

  #logo
    margin-top: $margin-small
    width: 40%

  #nav
    padding: $margin-small

  #footer
    margin-top: $margin-basic
    padding: $margin-tiny $margin-small


  // Image Upload
  .upload-form
    margin: $margin-basic 0 $margin-small

  .image-upload-thumbnail
    margin-bottom: $margin-tiny

  .preloader-wrapper.active
    margin: 0 $margin-basic