// STRUCUTRE

  // GRID BUILDER

$cols = 8
$col = 80px
$gutter = 16px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

    // FLUID RESPONSIVE CONTAINER STYLE IF NO GRID

// .container
//   max-width: 700px
//   width: 90%
//   margin: 0 auto

$margin-tiny = ($gutter/2)
$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

// COLORS

$color-black-soft = rgb(35,31,32)
$color-white-soft = rgb(253,253,253)
$color-blue = rgb(0,27,167)
$color-blue-light = rgb(54,80,191)

html
  background-color: $color-white-soft
  color: $color-black-soft

// TYPOGRAPHY

$font-size-basic = 19px
$font-leading-basic = 1.4em
$font-leading-btn = 2.2em

$font-size-h1 = 40px
$font-size-h2 = 30px
$font-size-h3 = 24px

html
  font-family: 'DIN-Light', Arial, 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 300
  font-size: $font-size-basic
  line-height: $font-leading-basic

  // HEADINGS

h1
  font-family: 'DIN-Bold', Arial, 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 600
  font-size: $font-size-h1

h2
  font-family: 'DIN-Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 500
  font-size: $font-size-h2

h3
  font-family: 'DIN-Medium', Arial, 'Helvetica Neue', Helvetica, sans-serif
  font-weight: 500
  font-size: $font-size-h3

h1,h2,h3,h4,h5,h6
  line-height: $font-leading-basic

    
// LINKS

a,a:active,a:visited
  text-decoration: none
  transition:opacity .2s
  &:hover
    opacity:.5

// Header 
.logo
  margin-top: $margin-small
  width: 60%
  
.nav 
  background-color: $color-blue
  color: $color-white-soft

#header
  a,a:active,a:visited
    color: $color-white-soft

// ---- Application
#insertApplicationForm .progress
  opacity: 0
  
// Form  
.btn, .btn-default
  line-height: $font-leading-btn
  background-color: $color-blue
  &:hover
    background-color: $color-blue-light

// Array field
.array-section
  .btn-floating
    text-align: center

// Image Upload
.upload-form
  margin: $margin-basic 0 $margin-small

.image-upload-thumbnail
  max-height: 120px
  width: auto
  display: block
  margin-bottom: $margin-tiny

.preloader-wrapper.active
  margin: 0 $margin-basic
  
