@media print
  @page
    margin: 1cm;

  body
    font-size: 0.8em

  h1, h2, h3, h4, h5, h6
    line-height: 1 !important
    margin: 0 0 0.2em 0
    padding: 0

  h1
    font-size: 24pt

  h2
    font-size: 14pt

  h3
    font-size: 12pt

  h4
    font-size: 10pt

  img
    max-width: 50%

  #nav,
  #footer
    display: none

  .section,
  .card .card-content
    padding: 0

  #logo
    position: absolute
    top: 0.5cm
    right: 1.5cm
    max-width: 15%
    z-index: 10

  .card
    box-shadow: none
    margin: 0

  // Submissions
  .submissions
    margin-top: 4cm

